body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-hind-siliguri: "Hind Siliguri";
    --font-magra: Magra;
    --font-inter: Inter;
    --font-iceberg: Iceberg;
  
    /* font sizes */
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-palevioletred: #e53f71;
  }
  