body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container {
    /* border: solid thin #000; */
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 1000px; */
    padding: 20px;
    gap: 20px;
}

.back-btn {
    color: #0000007e;
    /* border: solid thin #000; */
    width: 100%;
    /* padding: 0px 20px; */
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    /* padding: 0px; */
}

.header .logo img {
    width: 150px;
}

.header .term-condition-btn img {
    width: 100%;
}

.header .logo {
    flex: 1;
}

.header .term-condition-btn {
    width: 50px;
}

.hello {
    background: #B9FE49;
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}

.hello .hello-text {
    flex: 1;
    font-weight: 500;
    font-size: 25px;
}

.hello .hello-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello .hello-points .hello-points-text {
    font-weight: 500;
    font-size: 12px;
}

.hello .hello-points .hello-points-value {
    font-weight: 500;
    font-size: 20px;
}

.articles {
    display: flex;
    gap: 10px;
    /* padding: 10px 0px; */
}

.articles .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
}

.articles .article .article-text {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 11px;
}

.articles .article .article-image img {
    width: 100%;
}

.articles .article .article-btn {
    background: #B9FE49;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
}

.banner {
    background: #B9FE49;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.banner .banner-image img {
    width: 100%;
    /* gap: 20px; */
}

.banner .banner-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner .banner-image {
    flex: 3;
}

.banner .banner-content .banner-header {
    font-size: 20px;
    font-weight: 500;
}

.banner .banner-content .banner-text {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.spacing {
    height: 60px;
}

/* Navbar */

.nav-bar {
    background: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    padding: 15px 0px;
    border-top: solid medium #000;
}

.nav-bar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-bar .item .item-logo {
    width: 25px;
    /* height: 50px; */
}

.nav-bar .item .item-logo img {
    width: 100%;
}