.registration-page-password-child,
.registration-page-password-inner,
.registration-page-password-item {
  position: absolute;
  top: 133px;
  left: 67px;
  background-color: var(--color-gainsboro);
  width: 196px;
  height: 55px;
  display: none;
}
.registration-page-password-inner,
.registration-page-password-item {
  top: 586px;
  left: 33px;
  width: 100px;
  height: 100px;
}
.registration-page-password-inner {
  top: 602px;
  left: 96px;
  width: 209px;
  height: 48px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 14px;
  width: 150.21px;
  height: 92px;
}
.dukaan {
  font-weight: 300;
}
.ewaste-dukaan,
.group-parent {
  position: absolute;
  top: 87px;
  left: 0;
}
.group-parent {
  top: 29px;
  left: 105px;
  width: 178px;
  height: 116px;
  font-size: 24px;
}
.email {
  position: absolute;
  top: 416px;
  left: 77px;
  font-weight: 600;
}
.rectangle-div {
  position: absolute;
  top: 167px;
  left: 58px;
  border-radius: var(--br-9xl);
  background-color: var(--color-palegoldenrod);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 43px;
  mix-blend-mode: darken;
}
.full-name {
  position: absolute;
  top: 181px;
  left: 75px;
  font-weight: 600;
}
.registration-page-password-child1,
.registration-page-password-child2 {
  position: absolute;
  top: 404px;
  left: 58px;
  border-radius: var(--br-9xl);
  background-color: var(--color-palegoldenrod);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 43px;
  mix-blend-mode: darken;
}
.registration-page-password-child2 {
  top: 555px;
}
.password {
  position: absolute;
  top: 570px;
  left: 69px;
  font-weight: 600;
}
.registration-page-password-child3 {
  position: absolute;
  top: 764px;
  left: 53px;
  border-radius: var(--br-9xl);
  background-color: #b9fe49;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 60px;
  mix-blend-mode: darken;
  cursor: pointer;
}
.register {
  position: absolute;
  top: 772px;
  left: 117px;
  font-size: 36px;
  font-weight: 600;
}
.registration-page-password-child4,
.registration-page-password-child5,
.registration-page-password-child6 {
  position: absolute;
  top: 480px;
  left: 58px;
  border-radius: var(--br-9xl);
  background-color: var(--color-palegoldenrod);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 43px;
  mix-blend-mode: darken;
}
.registration-page-password-child5,
.registration-page-password-child6 {
  top: 320px;
}
.registration-page-password-child6 {
  top: 239px;
}
.mobile-no,
.select-city,
.select-state {
  position: absolute;
  top: 252px;
  left: 71px;
  font-weight: 600;
}
.mobile-no,
.select-city {
  top: 332px;
  left: 72px;
}
.mobile-no {
  top: 495px;
  left: 74px;
}
.chield-check-light-icon {
  position: absolute;
  top: 628px;
  left: 81px;
  width: 24px;
  height: 24px;
}
.terms-and-conditions {
  position: absolute;
  top: 632px;
  left: 115px;
}
.check-ring-icon,
.check-ring-icon1 {
  position: absolute;
  top: 696px;
  left: 73px;
  width: 24px;
  height: 24px;
}
.check-ring-icon1 {
  top: 698px;
  left: 216px;
}
.vendors {
  top: 695px;
  left: 91px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 105px;
  height: 34px;
}
.back,
.public,
.vendors {
  position: absolute;
  font-weight: 600;
  cursor: pointer;
}
.public {
  top: 698px;
  left: 247px;
  font-size: var(--font-size-xl);
}
.back {
  top: 19px;
  left: 19px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 48px;
}
.registration-page-password {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 856px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}

