.select-category {
    position: absolute;
    top: 75px;
    left: 77px;
    font-size: 31px;
    font-family: var(--font-inter);
    color: #e53f71;
  }
  .group-child {
    border-radius: var(--br-xl);
    background-color: var(--color-greenyellow);
  }
  .group-child,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 365px;
    height: 190px;
  }
  .imagesquaredefault-icon {
    position: absolute;
    top: 20px;
    left: 76px;
    width: 208px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
  }
  .group-parent {
    position: absolute;
    top: 172.5px;
    left: 18px;
    width: 365px;
    height: 190px;
    cursor: pointer;
  }
  .bulk-mix {
    position: absolute;
    top: 126.5px;
    left: 89px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
  }
  .category-page-no-drops-child {
    position: absolute;
    top: 372.5px;
    left: 84px;
    border-radius: 9px;
    background-color: var(--color-gainsboro);
    width: 233px;
    height: 47px;
  }
  .weight-kgs {
    position: absolute;
    top: 387.5px;
    left: 104px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    width: 211px;
    height: 47px;
  }
  .select-vendor {
    position: absolute;
    top: 12px;
    left: 42px;
    letter-spacing: 0.15px;
  }
  .vector-group,
  .vector-parent {
    position: absolute;
    top: 428px;
    left: 90px;
    width: 211px;
    height: 47px;
    cursor: pointer;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .vector-group {
    top: 849px;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-paleturquoise);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 55px;
    height: 29px;
  }
  .option-icon {
    position: absolute;
    top: 8.19px;
    left: 16.02px;
    width: 23.96px;
    height: 12.63px;
  }
  .rectangle-parent {
    position: absolute;
    top: 383px;
    left: 253px;
    width: 55px;
    height: 29px;
  }
  .category-page-no-drops-inner {
    position: absolute;
    top: 548px;
    left: 16px;
    width: 365px;
    height: 190px;
    cursor: pointer;
  }
  .imagesquaredefault-icon1 {
    position: absolute;
    top: 570px;
    left: 134px;
    width: 112px;
    height: 75px;
    overflow: hidden;
    object-fit: cover;
  }
  .imagesquaredefault-icon2,
  .imagesquaredefault-icon3,
  .imagesquaredefault-icon4 {
    position: absolute;
    top: 650px;
    left: 252px;
    width: 112px;
    height: 75px;
    overflow: hidden;
    object-fit: cover;
  }
  .imagesquaredefault-icon3,
  .imagesquaredefault-icon4 {
    left: 134px;
  }
  .imagesquaredefault-icon4 {
    top: 570px;
    left: 251px;
  }
  .large-appliance {
    position: absolute;
    top: 506px;
    left: 111px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
  }
  .category-page-no-drops-item {
    position: absolute;
    top: 745px;
    left: 18px;
    border-radius: 14px;
    background-color: var(--color-paleturquoise);
    width: 362px;
    height: 95px;
  }
  .brand,
  .material-type {
    position: absolute;
    top: 762px;
    left: 49px;
    letter-spacing: -0.01em;
    line-height: 18px;
  }
  .brand {
    top: 759px;
    left: 225px;
  }
  .group-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 136px;
    height: 29px;
    cursor: pointer;
  }
  .laptops,
  .mobile-phone,
  .refrigirator,
  .television {
    position: absolute;
    top: 5px;
    left: 14px;
    letter-spacing: -0.01em;
    line-height: 18px;
  }
  .laptops,
  .refrigirator,
  .television {
    top: 36px;
    opacity: 0;
  }
  .laptops,
  .refrigirator {
    top: 61px;
  }
  .refrigirator {
    top: 86px;
  }
  .line {
    position: absolute;
    top: 6.5px;
    left: 106.5px;
    border-right: 1px solid var(--primary);
    box-sizing: border-box;
    width: 1px;
    height: 13px;
  }
  .icon-chevrondown {
    position: absolute;
    top: 5px;
    left: 115px;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }
  .line-div {
    position: absolute;
    top: 28.5px;
    left: 10.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 119px;
    height: 1px;
  }
  .category-page-no-drops-child1,
  .rectangle-group {
    position: absolute;
    top: 790px;
    left: 43px;
    width: 136px;
    height: 104px;
  }
  .category-page-no-drops-child1 {
    left: 213px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 29px;
    cursor: pointer;
  }
  .lenovo,
  .samsung,
  .whirlpool {
    left: 227px;
    letter-spacing: -0.01em;
    line-height: 18px;
  }
  .samsung {
    position: absolute;
    top: 795px;
  }
  .lenovo,
  .whirlpool {
    opacity: 0;
  }
  .lenovo {
    position: absolute;
    top: 826px;
  }
  .whirlpool {
    top: 851px;
  }
  .lg,
  .line1,
  .whirlpool {
    position: absolute;
  }
  .lg {
    top: 876px;
    left: 227px;
    letter-spacing: -0.01em;
    line-height: 18px;
    opacity: 0;
  }
  .line1 {
    top: 796.5px;
    left: 319.5px;
    border-right: 1px solid var(--primary);
    box-sizing: border-box;
    width: 1px;
    height: 13px;
  }
  .icon-chevrondown1 {
    position: absolute;
    top: 795px;
    left: 328px;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }
  .category-page-no-drops-child2 {
    position: absolute;
    top: 818.5px;
    left: 223.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 119px;
    height: 1px;
  }
  .degrees-svgrepo-com-1-icon {
    position: absolute;
    top: 617px;
    left: 48px;
    width: 56px;
    height: 56px;
    overflow: hidden;
  }
  .category-page-no-drops-child3 {
    position: absolute;
    top: 913px;
    left: 0;
    background-color: var(--color-white);
    width: 399px;
    height: 109px;
  }
  .background-icon,
  .background-icon1,
  .background-icon2,
  .background-icon3 {
    position: absolute;
    top: 570px;
    left: 133px;
    width: 113px;
    height: 75px;
    object-fit: cover;
  }
  .background-icon1,
  .background-icon2,
  .background-icon3 {
    left: 250px;
  }
  .background-icon2,
  .background-icon3 {
    top: 650px;
    left: 251px;
  }
  .background-icon3 {
    left: 133px;
  }
  .frame-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
  }
  .group-child3 {
    position: absolute;
    height: 3.75%;
    width: 100.75%;
    top: -1.87%;
    right: -0.38%;
    bottom: 98.13%;
    left: -0.38%;
    border-top: 3px solid #33363f;
    box-sizing: border-box;
  }
  .home-icon {
    position: absolute;
    height: 51.42%;
    width: 81.03%;
    top: 0;
    right: 15.94%;
    bottom: 48.58%;
    left: 3.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home {
    position: absolute;
    top: 73.08%;
    left: 0;
    letter-spacing: 0.15px;
  }
  .home-parent {
    position: absolute;
    height: 65%;
    width: 8.27%;
    top: 35%;
    right: 84.71%;
    bottom: 0;
    left: 7.02%;
    cursor: pointer;
  }
  .paper-icon {
    position: absolute;
    height: 51.42%;
    width: 52.43%;
    top: 0;
    right: 24.04%;
    bottom: 48.58%;
    left: 23.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .paper-parent {
    height: 65%;
    width: 12.78%;
    top: 35%;
    right: 62.41%;
    bottom: 0;
    left: 24.81%;
    cursor: pointer;
  }
  .map-icon,
  .maps,
  .paper-parent {
    position: absolute;
  }
  .map-icon {
    height: 47.06%;
    width: 77.42%;
    top: 0;
    right: 12.9%;
    bottom: 52.94%;
    left: 9.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .maps {
    top: 72.55%;
    left: 0;
    letter-spacing: 0.15px;
  }
  .map-parent {
    position: absolute;
    height: 63.75%;
    width: 7.77%;
    top: 36.25%;
    right: 45.11%;
    bottom: 0;
    left: 47.12%;
    cursor: pointer;
  }
  .box-alt-icon {
    position: absolute;
    height: 51.42%;
    width: 60.77%;
    top: 0;
    right: 25.59%;
    bottom: 48.58%;
    left: 13.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .box-alt-parent,
  .user-box-icon {
    position: absolute;
    height: 65%;
    width: 11.03%;
    top: 35%;
    right: 24.56%;
    bottom: 0;
    left: 64.41%;
  }
  .user-box-icon {
    height: 51.42%;
    width: 74.27%;
    top: 0;
    right: 17.39%;
    bottom: 48.58%;
    left: 8.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .user-box-parent {
    position: absolute;
    height: 65%;
    width: 9.02%;
    top: 35%;
    right: 6.02%;
    bottom: 0;
    left: 84.96%;
    cursor: pointer;
  }
  .line-parent {
    position: absolute;
    height: 88.89%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 11.11%;
    left: 0;
  }
  .rectangle-container {
    position: absolute;
    bottom: -2px;
    left: -1px;
    width: 399px;
    height: 90px;
    overflow-y: auto;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  .category-page-no-drops {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 856px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--regular-14-regular-size);
    color: var(--primary);
    font-family: var(--regular-14-regular);
  }
  